
body{

    height: 1200px;
    width: 100%;
    background: rgba(34,47,59,0.1);
    opacity: 1;
}
#wrapper{

    height: 1200px;
    width:90%;
    margin: auto;
    background: rgba(34,47,59,0.1);
}


section{
    padding-top: 25%;
}

#index_button{

    background: #2fc8e6;
    color:white;
    width:600px;
    height:40px;
    padding-top: 15px;
    margin: auto;
    margin-bottom: 130px;
    text-align: center;
    vertical-align: bottom;
}

#index_button:hover{

    opacity: .8;
    cursor: pointer;
}
#index_button a{
    color: white;
}
.fa{
    margin: 20px;
    color: #2fc8e6;
    float: right;
    font-size: 3em !important;
}

.fa:hover{
    cursor: pointer;
}

#login_form{

    width: 60%;
    height: 700px;
    position: absolute;
    top:10px;
    left: 20%;
    z-index: 12;

}

#black{
    position: absolute;
    width: 100%;
    height:1200px;
    display: none;
    background: rgba(0,0,0,0.69);
    z-index: 10;

}

.content{
    height:1000px;
}

 .front{

    height: 1200px;
    overflow: scroll;
    overflow-x: scroll;
}


 #karta{

     height: 1022px;
 }